<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.OwnRoadRider"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MyDestinationListActivity"
            android:exported="false" />
        <activity
            android:name=".DetailScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Map_search"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="actionPath?parameter=value&amp;appname=ownroadrider"
                android:host="nmap"
                tools:ignore="AppLinkUrlError" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecommendedScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <!-- 상세 검색 화면 동작하게 하기 -->
        <activity android:name=".Jinju_detail"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="actionPath?parameter=value&amp;appname=ownroadrider"
                    android:host="nmap"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity android:name=".Map_view" />
        <activity android:name=".ChangnyeongManokDetailActivity"></activity>
        <activity android:name=".ChangnyeongHwawangDetailActivity"></activity>
        <activity android:name=".ChangnyeongUpoDetailActivity"></activity>
        <activity android:name=".ChangwonDreamparkDetailActivity"></activity>
        <activity android:name=".ChangwonQwaiDetailActivity"></activity>
        <activity android:name=".ChangwonSokuriDetailActivity"></activity>
        <activity android:name=".GeochangNamduckDetailActivity"></activity>
        <activity android:name=".GeochangSuseungDetailActivity"></activity>
        <activity android:name=".GeochangWolseongDetailActivity"></activity>
        <activity android:name=".GeojeWindDetailActivity"></activity>
        <activity android:name=".GeojeBlackrockDetailActivity"></activity>
        <activity android:name=".GeojeMaemiDetailActivity"></activity>
        <activity android:name=".GimhaeSurowangDetailActivity"></activity>
        <activity android:name=".GimheaGayaDetailActivity"></activity>
        <activity android:name=".GimheaYeonjiDetailActivity"></activity>
        <activity android:name=".GoseongSangjokamDetailActivity"></activity>
        <activity android:name=".GoseongDinoDetailActivity"></activity>
        <activity android:name=".GoseongMunsuDetailActivity"></activity>
        <activity android:name=".HadongChoiDetailActivity"></activity>
        <activity android:name=".HadongSamsunggungDetailActivity"></activity>
        <activity android:name=".HadongSongrimDetailActivity"></activity>
        <activity android:name=".HamanMujinjeongDetailActivity"></activity>
        <activity android:name=".HamanHamjuDetailActivity"></activity>
        <activity android:name=".HamanIpgokDetailActivity"></activity>
        <activity android:name=".HamyangNamgyeDetailActivity"></activity>
        <activity android:name=".HamyangSangrimDetailActivity"></activity>
        <activity android:name=".HamyangSeoamDetailActivity"></activity>
        <activity android:name=".HapcheonHaeinsaDetailActivity"></activity>
        <activity android:name=".HapcheonHongryuDetailActivity"></activity>
        <activity android:name=".HapcheonVideoDetailActivity"></activity>
        <activity android:name=".JinjuGeumhojiDetailActivity"></activity>
        <activity android:name=".JinjuJinyanghoDetailActivity"></activity>
        <activity android:name=".MiryangLotusDetailActivity"></activity>
        <activity android:name=".MiryangIceDetailActivity"></activity>
        <activity android:name=".MiryangYeongnamruDetailActivity"></activity>
        <activity android:name=".NamhaeBoriamDetailActivity"></activity>
        <activity android:name=".NamhaeGermanDetailActivity"></activity>
        <activity android:name=".NamhaePyeonbaekDetailActivity"></activity>
        <activity android:name=".SacheonSeaCableCarDetailActivity"></activity>
        <activity android:name=".SacheonDasolsaDetailActivity"></activity>
        <activity android:name=".SacheonWineDetailActivity"></activity>
        <activity android:name=".SancheonDaewonsaDetailActivity"></activity>
        <activity android:name=".SancheonHwangmaeDetailActivity"></activity>
        <activity android:name=".SancheonYedamDetailActivity"></activity>
        <activity android:name=".TongyeongJogakDetailActivity"></activity>
        <activity android:name=".TongyeongYokjidoDetailActivity"></activity>
        <activity android:name=".TongyeongDongpirangDetailActivity"></activity>
        <activity android:name=".UireongBonghwangDetailActivity"></activity>
        <activity android:name=".UireongChungiksaDetailActivity"></activity>
        <activity android:name=".UireongHanwusanDetailActivity"></activity>
        <activity android:name=".YangsanDragonDetailActivity"></activity>
        <activity android:name=".YangsanNaewonDetailActivity"></activity>
        <activity android:name=".YangsanTongdosaDetailActivity"></activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="nowdd7jigt" />
    </application>

</manifest>